* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
}

#client-cover-section {
    position: relative;
    color: white;
}

#client-cover-flex {
    position: absolute;
    bottom: 90%;
    display: flex;
    position: absolute;
    justify-content: space-between;
}

#client-cover-section img {
    width: 99.9%;
    height: 100%;
}

#client-cover-flex img {
    margin-left: 25px;
    width: 4%;
}

#company-name {
    display: flex;
}

#company-name span {
    margin-left: 20px;
    margin-top: 14px;
    font-size: 18px;
    font-weight: 600;
}

#client-cover-flex select {
    padding: 5px 10px;
    margin-left: -250px;
    margin-right: 25px;
    border: none;
    width: 100px;
}

#head-opt {
    margin-top: 10px;
    width: 14%;
}

#client-cover-flex button {
    padding: 8px 14px;
    border: none;
    background-color: purple;
    color: white;
    width: 90px;
}

img#client-image {
    position: absolute;
    bottom: 42%;
    left: 5%;
    width: 50%;
    height: 30%;
}

#client-button {
    position: absolute;
    bottom: 32%;
    left: 18%;
}

#client-button button {
    padding: 9px 22px;
    font-size: 14px;
    font-weight: 600;
    width: 160px;
    cursor: pointer;
    transition: 0.15s ease-in;
}

button#client-learn-more {
    color: #fff;
    background-color: rgba(128, 0, 128, 0.514);
    border: 2px solid rgba(128, 0, 128, 0.514);
}

button#client-learn-more:hover {
    color: purple;
    background-color: transparent;
}

button#client-get-started {
    color: purple;
    background-color: transparent;
    border: 2px solid purple;
    margin-left: 15px;
}

button#client-get-started:hover {
    color: #fff;
    background-color: #ffe74b5b;
}

#client-info {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2%;
    left: 0%;
    width: 100%;
    background-color: rgba(128, 0, 128, 0.13);
    padding: 15px 0px;
}

#client-info span {
    color: #fff;
    font-size: 17px;
}

#client-info span i {
    color: #ffe74b;
}


/* More page */

body {
    background-color: rgb(248, 248, 248);
}

a {
    color: purple;
}

.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

#greeting {
    font-size: 15px;
    padding-top: 6px;
}

#prenav {
    display: flex;
    position: fixed;
    padding: 10px 40px 10px 20px;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(253, 253, 253);
    z-index: 998;
}

#prenav p#dat {
    margin-top: 5px;
    font-size: 15px;
}

#prenav span {
    color: orangered;
}

#navbar.scrolled {
    transform: translateY(-100%);
}

#pre-nav-left {
    width: 40%;
    display: flex;
    padding-top: 6px;
}

#pre-nav-left img {
    width: 5%;
    height: 65%;
}

#pre-nav-right {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

#pre-nav-left p {
    font-size: 15px;
    padding-left: 8px;
}

#pre-nav-right p {
    font-size: 15px;
    padding-top: 5px;
}

#pre-nav-right img#pre-1 {
    width: 8%;
    height: 90%;
}

#pre-nav-right img#pre-2 {
    width: 8%;
    height: 90%;
}

#header {
    width: 100%;
    z-index: 999;
    display: flex;
}

#navbar {
    display: flex;
    position: fixed;
    margin-top: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid purple;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 5px 15px rgb(0 0 0 / 6%);
    transition: transform 0.1s;
    z-index: 999;
}

#navbar.scrolled {
    transform: translateY(-100%);
}

#nav-block {
    display: flex;
}

#header img {
    width: 3%;
    border-radius: 50%;
    display: flex;
    margin-left: 38px;
    margin-right: 39px;
}

#header #navbar ul {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 11px;
}

#header #navbar ul li {
    list-style: none;
    font-weight: 600;
    position: relative;
}


/* dropdown */

#navbar button {
    color: #fff;
    background-color: purple;
    margin-top: 1px;
    margin-left: 380px;
    font-size: 14px;
    border: 1px solid purple;
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 5px;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    right: calc(100% + 20px);
    top: 45%;
    transform: translateY(-50%);
    background-color: #222;
    color: #fff;
    width: 110px;
    padding: 6px 12px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.tooltip .tooltiptext:before {
    content: "";
    position: absolute;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #222;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext.fade-out {
    opacity: 0;
    visibility: hidden;
}


/* dion change name */

#dion {
    padding-left: 20px;
    padding-top: 170px;
}

#dion p {
    font-size: 13px;
}

#dion p a {
    text-decoration: none;
    color: purple;
}


/* The Pop up message */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    z-index: 999;
}

#popup p {
    font-size: 17px;
}

#popup p span {
    color: red;
    padding-bottom: 7px;
    font-size: 17px;
}

#popup button {
    margin-top: 8px;
    padding: 6px 13px;
    border: 1px solid purple;
    background-color: rgba(202, 0, 202, 0.521);
    cursor: pointer;
}

#popup button #decline {
    background-color: rgba(202, 0, 202, 0.521);
}


/* SEction VBAr */

#heading-know {
    font-family: "Sofia", sans-serif;
    text-align: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 37px;
}

#action {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}

#action {
    display: flex;
    justify-content: space-between;
}

.section-bar {
    width: 30%;
}

.section-bar img {
    padding-left: 25%;
}

.section-bar img#action-a {
    width: 59%;
    padding-left: 28px;
    margin-left: 22px;
}

.section-bar img#action-b {
    width: 53%;
    padding-left: 25px;
    margin-left: 40px;
}

.section-bar img#action-c {
    width: 57%;
    padding-left: 28px;
    margin-left: 40px;
}

.section-bar p {
    font-size: 22px;
    padding-top: 22px;
    color: black;
}

button#tell-more {
    position: relative;
    padding: 15px 30px 15px 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 200px;
    background-color: rgba(110, 0, 101, 0.418);
    font-size: 18px;
    cursor: pointer;
    left: 44%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 5px rgb(0 0 0);
    font-weight: 600;
    transition: all 0.2s;
}

button#tell-more span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button#tell-more span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button#tell-more:hover span {
    padding-right: 20px;
}

button#tell-more:hover span:after {
    opacity: 1;
    right: 0;
}

button#tell-more:hover {
    box-shadow: 0 3px 3px rgb(0 0 0);
}

.line {
    border-top: 5px solid purple;
    width: 200px;
    display: flex;
    position: absolute;
    margin-top: 70px;
    margin-left: 310px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.line-a {
    border-top: 5px solid purple;
    width: 200px;
    display: flex;
    position: absolute;
    margin-left: 850px;
    margin-top: -40px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#my-section {
    margin-top: 70px;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

#my-section span {
    color: purple;
}

#dot {
    font-size: 55px;
    width: 100%;
    text-align: center;
    color: purple;
}

#how-to {
    margin-top: 80px;
}

#how-to .h-flex {
    display: flex;
}

#how-to .h-flex img {
    width: 22%;
    margin-right: 70px;
}

#how-to .h-flex p {
    font-size: 33px;
    width: 75%;
    margin-left: 90px;
    padding-top: 25px;
    text-align: center;
}

#how-to .h-flex i {
    font-size: 30px;
    width: 4%;
    margin-left: 440px;
    text-align: center;
    border: 3px solid purple;
    border-radius: 50%;
}

.h-flex #h-text {
    padding-top: 45px;
}

#arrow {
    width: 100px;
    margin-left: 550px;
    margin-top: 20px;
}

#arrow-b {
    width: 100px;
    margin-left: 550px;
    margin-top: 0px;
}

#left-arrow {
    width: 100px;
    margin-top: 0px;
    margin-left: 600px;
}


/* For the second one */

#how-to .h-flex-b {
    display: flex;
}

#how-to .h-flex-b img {
    width: 22%;
    margin-left: 70px;
}

#how-to .h-flex-b p {
    font-size: 35px;
    width: 79%;
    margin-right: 0px;
    margin-left: 90px;
    padding-top: 25px;
    text-align: center;
}

#how-to .h-flex-b i {
    font-size: 30px;
    width: 4%;
    margin-left: 450px;
    text-align: center;
    border: 3px solid purple;
    border-radius: 50%;
}

.h-flex-b #h-text-b {
    padding-top: 60px;
}


/* the third one */

#how-to .h-flex-c {
    display: flex;
}

#how-to .h-flex-c img {
    width: 20%;
    margin-right: 70px;
}

#how-to .h-flex-c p {
    font-size: 33px;
    width: 75%;
    margin-left: 90px;
    padding-top: 25px;
    text-align: center;
}

#how-to .h-flex-c i {
    font-size: 30px;
    width: 4%;
    margin-left: 440px;
    text-align: center;
    border: 3px solid purple;
    border-radius: 50%;
}

.h-flex-c #h-text-c {
    padding-top: 45px;
}


/* For the forth one*/

#how-to .h-flex-d {
    display: flex;
}

#how-to .h-flex-d img {
    width: 22%;
    margin-left: 70px;
}

#how-to .h-flex-d p {
    font-size: 35px;
    width: 79%;
    margin-right: 0px;
    margin-left: 90px;
    padding-top: 25px;
    text-align: center;
}

#how-to .h-flex-d i {
    font-size: 30px;
    width: 4%;
    margin-left: 450px;
    text-align: center;
    border: 3px solid purple;
    border-radius: 50%;
}

.h-flex-d #h-text-d {
    padding-top: 60px;
}


/* The Scroll Up Button */

#my-Btn img {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 101;
    border: none;
    outline: none;
    color: white;
    background-color: purple;
    cursor: pointer;
    padding: 3px;
    border-radius: 45%;
    font-size: 10px;
}


/* Button Explore */

button#explore {
    position: relative;
    padding: 15px 30px 15px 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 200px;
    background-color: rgba(110, 0, 101, 0.418);
    font-size: 18px;
    cursor: pointer;
    left: 44%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 5px rgb(0 0 0);
    font-weight: 600;
    transition: all 0.1s;
}

button#explore:hover {
    box-shadow: 0 3px 3px rgb(0 0 0);
    width: 185px;
}


/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(37, 26, 37);
    color: #222;
    padding-top: 18px;
}

footer .col {
    margin-bottom: 20px;
    margin-left: 45%;
    padding-top: 22px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 16px;
    margin: 0 0 8px 0;
    color: purple;
}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: purple;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 0;
}

footer .follow i {
    color: purple;
    padding-right: 4px;
    cursor: pointer;
    font-size: 16px;
}

footer .follow {
    display: flex;
    position: relative;
    width: 15%;
    left: 43%;
    justify-content: space-between;
    padding-top: 20px;
}

footer .follow h4 {
    font-size: 16px;
    color: purple;
}

footer .follow i:hover,
footer a:hover {
    color: rgb(206, 141, 206);
}

footer #footer-flex {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 18%;
}

#footer-flex .legal {
    display: flex;
    justify-content: space-between;
    width: 43%;
}

footer .col .follow .copyright {
    width: 100%;
    text-align: center;
}

.copyright {
    font-size: 13px;
    width: 100%;
    text-align: center;
    background-color: rgb(236, 236, 236);
    margin-top: 0;
}

#unavailable {
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

#unavailable h2 {
    font-size: 36px;
}

#unavailable p {
    color: red;
}

#unavailable a {
    color: black;
}


/*Login Page */

#sign-in {
    margin-top: 50px;
    margin-bottom: 30px;
}

#sign-in form {
    width: 50%;
    margin-left: 25%;
    background-color: white;
    border: 1px solid purple;
    border-radius: 4px;
}

#sign-in form label {
    display: block;
    padding-bottom: 8px;
}

#sign-in form label[for=email] {
    padding-top: 18px;
}

.form-flex {
    padding-left: 28px;
    padding-bottom: 20px;
}

#sign-in form input {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    border: 1px solid purple;
    border-radius: 4px;
}

#sign-in form button {
    padding: 10px 50px;
    width: 91%;
    margin-left: 28px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgba(128, 0, 128, 0.863);
    color: white;
    font-size: 16px;
    transition: 0.1s ease-in-out;
}

#sign-in form button:hover {
    background-color: rgba(128, 0, 128, 0.664);
}


/* Profile Page */

#profile-pg {
    display: flex;
    justify-content: space-between;
    z-index: 990;
}

#profile-picture-wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

#profile-picture {
    width: 100%;
    height: auto;
}

#profile-pg #left-sect {
    display: block;
    padding-left: 40px;
    padding-right: 65px;
    width: 20%;
    background-color: rgb(37, 26, 37);
    color: white;
    padding-top: 25px;
    padding-bottom: 130px;
    position: fixed;
    box-shadow: 10px 10px 10px #222;
}

#left-sect.active {
    transition: 0.8s ease-in-out;
}

#profile-pg #left-sect p {
    margin-bottom: 22px;
}

#profile-pg #right-sect {
    /*position: relative; */
    margin-left: 20%;
    width: 80%;
    padding-top: 40px;
}

#view-dashboard {
    display: none;
}


/* Chat section */

.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsible {
    background-color: purple;
    color: white;
    cursor: pointer;
    padding: 8px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    border-bottom: none;
}

#profile-pg #right-sect #user-name {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid purple;
    border-top: 1px solid purple;
    background-color: rgba(37, 26, 37, 0.055);
}

#right-sect #user-name p {
    color: purple;
    margin-top: 15px;
}

#right-sect #user-name h2 {
    font-size: 27px;
}

#user-name-mob {
    display: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid purple;
    border-top: 1px solid purple;
    background-color: rgba(37, 26, 37, 0.055);
}

#user-name-mob p {
    color: purple;
    margin-top: 15px;
}

#user-name-mob h2 {
    font-size: 27px;
}

.h-mob {
    display: none;
}

#profile-pg #left-sect #navigate {
    width: 100%;
}

#navigate .show::before {
    content: '';
    border: 3px solid rgb(153, 79, 153);
    margin-left: -16px;
    margin-right: 12px;
}

#navigate p.show a {
    color: rgb(206, 141, 206);
}

#navigate p a {
    text-decoration: none;
    color: white;
}

#navigate p a:hover {
    color: rgb(206, 141, 206);
}

#open-form:hover {
    color: rgb(206, 141, 206);
    cursor: pointer;
}

#left-sect #user {
    padding-top: 60px;
}

#user-profile {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

#user-profile h3 {
    font-size: 24px;
    padding-bottom: 30px;
    text-decoration: underline;
}

#user-profile h4 {
    padding-bottom: 20px;
}

#user-profile p#update {
    padding-top: 25px;
}

#user-profile .user-profile-flex p {
    text-transform: uppercase;
}

#user-profile .user-profile-flex #user-email {
    text-transform: lowercase;
}

#user-profile .user-profile-flex {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
}

#user-profile .user-profile-flex .h-line {
    border: 1px solid purple;
    height: 65px;
}


/* Project Scope Section */

#scope {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    /* position: relative; */
    margin-left: 20%;
    width: 80%;
}

#scope #scope-flex {
    display: flex;
    /* justify-content: space-between; */
}

#scope h3 {
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 10px;
}

#scope p {
    padding-bottom: 20px;
    padding-top: 20px;
}

#scope-flex #span {
    color: rgba(128, 0, 128, 0.76);
    font-weight: 700;
    margin-bottom: 25px;
    width: 25%;
}

#scope-flex #pro-info {
    padding-left: 40px;
    width: 100%;
}


/* #scope div {
    display: flex;
    justify-content: space-between;
    padding-right: 60%;
} */

.vline {
    border-bottom: 0.4px solid purple;
    width: 100%;
}


/* Workflow section */

#workflow {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    /*  position: relative; */
    margin-left: 20%;
    width: 80%;
    z-index: 990;
}

#workflex {
    display: flex;
}

#work {
    width: 50%;
}

#workflow h3 {
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 10px;
}

#work-list li {
    list-style-type: none;
    padding-top: 30px;
}

#work-list input[type="checkbox"] {
    display: none;
}

#work-list label {
    display: inline-block;
    position: static;
    cursor: pointer;
    padding-left: 10px;
}

#work-list label:before {
    content: '';
    display: inline-block;
    /*position: absolute; */
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin-right: 15px;
}

#work-list input[type="checkbox"]:checked+label:before {
    content: '\2713';
    color: #fff;
    background-color: #00b300;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
}

#work-list input[type="checkbox"]:disabled+label {
    color: black;
    font-size: 17px;
}

#m-work h5 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
}

#m-work p {
    padding-bottom: 12px;
}

#m-work a {
    color: purple;
}

#m-work a:hover {
    color: rgba(128, 0, 128, 0.644);
}

#m-work .delete {
    color: red;
}

#m-work .delete:hover {
    color: rgba(255, 0, 0, 0.644);
}


/* Profile troubleshoot */

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    margin-top: -70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 80%;
    z-index: 999;
    color: #222;
}

.close {
    position: relative;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: red;
    top: -18px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

form#troubleshoot-form {
    display: flex;
    flex-direction: column;
}

form#troubleshoot-form label {
    margin-bottom: 5px;
}

#select-feedback select,
#describe-feedback textarea {
    padding: 10px;
    margin-bottom: 15px;
}

form#troubleshoot-form button[type="submit"] {
    padding: 10px;
    background-color: #7a01aa;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

form#troubleshoot-form button[type="submit"]:hover {
    background-color: #7a01aad0;
}

form#troubleshoot-form input[id="file"] {
    border: 1px solid #222222b4;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}


/* Legal */

#legal {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    /*  position: relative; */
    margin-left: 20%;
    width: 80%;
    z-index: 990;
}

#legal h3 {
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 10px;
}

#legal h4 {
    padding-bottom: 10px;
    padding-top: 32px;
    font-size: 16px;
}

#legal p {
    padding-bottom: 8px;
}

#signature div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#signature div button {
    margin-top: -8px;
    padding: 10px 12px 10px 12px;
    background-color: rgb(128, 0, 128);
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

#signature div button:hover {
    background-color: rgba(128, 0, 128, 0.692);
}

#signature div#sign-2 {
    margin-bottom: 0px;
}

#document-upload p {
    padding-bottom: 25px;
}

#document-upload span {
    color: purple;
    font-size: 13.5px;
}

#document-upload #fileInput {
    border: 1px solid purple;
    padding: 6px 12px;
}

#document-upload button {
    margin-left: -4px;
    padding: 10px 12px 10px 12px;
    background-color: rgb(128, 0, 128);
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

#upload-message {
    display: inline-block;
    padding-top: 5px;
    color: red;
    font-size: 15px;
    position: sticky;
}


/* Suggestion section */

#suggestion {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    /*  position: relative; */
    margin-left: 20%;
    width: 80%;
    z-index: 990;
}

#suggestion h3 {
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 10px;
}

#suggestion h4 {
    padding-top: 25px;
}

#feedback-form {
    display: inline-block;
    width: 100%;
}

#select-feedback {
    margin-top: 30px;
}

#select-feedback label[for="feedback"] {
    width: 150px;
    margin-right: 12px;
}

#select-feedback select[id="feedback"] {
    width: 33%;
    margin-top: -9px;
    padding: 7px 10px;
    border: 1px solid purple;
    border-radius: 5px;
}

#select-feedback select[id="feedback"]:focus,
#select-feedback select[id="feedback"]::selection {
    border: 1px solid purple;
}

#select-feedback label[for="feedback-email"] {
    width: 150px;
    margin-right: 12px;
    margin-left: 50px;
}

#select-feedback input[id="feedback-email"] {
    width: 33%;
    padding: 8px 10px;
    border: 1px solid purple;
    border-radius: 5px;
}

#select-feedback input[id="feedback-email"]:focus,
#select-feedback input[id="feedback-email"]::selection {
    border: 1px solid purple;
}

#describe-feedback {
    margin-top: 25px;
}

#describe-feedback textarea {
    width: 100%;
    height: 80px;
    border: 1px solid purple;
    border-radius: 5px;
}

#describe-feedback textarea[id="feedback-box"]:focus,
#describe-feedback textarea[id="feedback-box"]::selection {
    border: 1px solid purple;
}

#feedback-flex {
    display: flex;
    justify-content: space-between;
}

#feedback-img img {
    width: 40%;
    border-radius: 50%;
    margin-left: 30%;
    margin-top: 11%;
}

#feedback-form button {
    color: white;
    background-color: rgb(128, 0, 128);
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 40px;
}

.star-rating {
    display: inline-block;
    padding-bottom: 30px;
}

.star {
    font-size: 40px;
    color: #ccc;
    cursor: pointer;
}

.star.active {
    color: #ffdd00;
}


/* Profile footer */

#profile-copyright {
    background-color: rgb(236, 236, 236);
    justify-content: center;
    z-index: 999;
}

#pro-navbar {
    display: flex;
    position: fixed;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 2px solid purple;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 5px 15px rgb(0 0 0 / 6%);
    transition: transform 0.1s;
    z-index: 999;
}

#pro-navbar img {
    width: 3%;
    border-radius: 50%;
    display: flex;
    margin-left: 38px;
    margin-right: 39px;
}

#pro-navbar h3 {
    color: #222;
    padding-top: 8px;
    padding-left: 8px;
    min-width: 30%;
}

#header #pro-navbar ul {
    display: flex;
    justify-content: space-between;
    position: static;
    padding-left: 30px;
    padding-right: 70px;
    margin-right: 260px;
    padding-top: 11px;
}

#header #pro-navbar ul li {
    list-style: none;
    font-weight: 600;
    position: relative;
}

#header #pro-navbar ul li a {
    text-decoration: none;
    color: purple;
    transition: 0.3s ease;
    font-size: 16px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 22px;
    padding-right: 22px;
}

#header #pro-navbar ul li a:hover,
#header #navbar ul li a.active {
    color: purple;
}

#header #pro-navbar ul li a.active:hover {
    background-color: rgb(255, 177, 255) !important;
}

#header #pro-navbar ul li a:hover {
    background-color: rgb(204, 204, 204);
}

#header #pro-navbar ul li a.active::after {
    content: " ";
    width: 100%;
    height: 2px;
    background: purple;
    position: absolute;
    bottom: -12px;
    left: 0px;
}

#toggle-dark-mode {
    cursor: pointer;
    font-size: 20px;
    color: rgb(189, 113, 189);
    padding-top: 11px;
}


/* Media Queries */

@media (max-width: 539px) {
    #client-cover-section {
        position: static;
        color: white;
    }
    #client-cover-section img {
        width: 100%;
        height: 99vh;
    }
    /*#client-cover-flex {
        position: absolute;
        bottom: 10%;
        display: flex;
        justify-content: space-between;
    } */
    #company-name img {
        width: 20%;
        height: 20%;
    }
    #company-name span {
        margin-top: 10px;
    }
    img#client-image {
        width: 90%;
        height: 30%;
    }
    #company-name {
        position: absolute;
        display: flex;
        top: 10%;
    }
    #client-cover-flex select {
        padding: 5px 10px;
        margin-left: 20px;
        margin-right: 18px;
        border: none;
        width: 90px;
    }
    #client-cover-flex {
        display: block;
        top: 3%;
    }
    #head-opt {
        margin-top: 70px;
        width: 100%;
    }
    #client-button {
        position: absolute;
        bottom: 32%;
        left: 12.5%;
    }
    #client-button button {
        padding: 9px 12px;
        font-size: 13px;
        font-weight: 600;
        width: 125px;
    }
    #client-info {
        display: block;
        justify-content: space-evenly;
        position: absolute;
        bottom: 2%;
        left: 0%;
        width: 100%;
        background-color: rgba(128, 0, 128, 0.13);
        padding: 15px 0px;
    }
    #client-info span {
        display: block;
        padding-left: 5px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 17px;
        width: 100%;
    }
    #client-info span i {
        color: #ffed7b;
    }
    /* More Page */
    #prenav {
        width: 100%;
        display: block;
        padding: 10px;
    }
    #pre-nav-left {
        width: 100%;
        display: none;
    }
    #pre-nav-left img {
        width: 10%;
        height: 10%;
    }
    #pre-nav-left p {
        font-size: 15px;
        padding-left: 8px;
        width: 100%;
    }
    #pre-nav-right {
        width: 100%;
    }
    #header #navbar ul {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
    }
    #header img {
        width: 10%;
        height: 10%;
        margin-left: 10px;
        margin-right: 25px;
    }
    #navbar {
        margin-top: 73px;
        width: 100%;
    }
    #nav-block {
        display: block;
    }
    #nav-block p {
        font-size: 14px;
    }
    #navbar button {
        margin-left: 0px;
        margin-top: 5px;
    }
    #dion {
        padding-top: 170px;
    }
    #heading-know {
        font-size: 24px;
    }
    #action {
        display: block;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-bar {
        width: 100%;
    }
    .section-bar img#action-a {
        margin-left: 90px;
        width: 43%;
    }
    .section-bar img#action-b {
        width: 43%;
        margin-left: 90px;
        margin-top: 50px;
    }
    .section-bar img#action-c {
        width: 43%;
        margin-left: 90px;
        margin-top: 50px;
    }
    .section-bar p {
        text-align: center;
    }
    .line-a {
        display: none;
    }
    .line {
        display: none;
    }
    #my-section {
        font-size: 17px;
        margin-top: 40px;
    }
    button#tell-more {
        padding: 8px 25px 8px 25px;
        width: 200px;
        left: 25%;
        border-radius: 20px;
    }
    button#tell-more span:after {
        right: -20px;
    }
    #how-to {
        margin-top: 0px;
    }
    #how-to .h-flex {
        display: block;
        margin-bottom: -40px;
    }
    #how-to .h-flex i {
        position: relative;
        font-size: 20px;
        width: 6%;
        margin-left: 0px;
        text-align: center;
        border: 3px solid purple;
        border-radius: 50%;
        left: 47%;
    }
    #how-to .h-flex img {
        position: relative;
        left: 35%;
        width: 30%;
        margin-right: 0px;
        top: -220px;
        justify-content: center;
    }
    #how-to .h-flex p {
        font-size: 22px;
        width: 95%;
        margin-left: 2px;
        margin-top: 150px;
        padding-left: 10px;
        text-align: center;
    }
    #arrow {
        width: 35px;
        margin-left: 10%;
        margin-top: -180px;
        transform: rotateZ(10deg);
    }
    .h-flex-b #h-text-b {
        padding-top: 0px;
    }
    #how-to .h-flex-b {
        display: block;
        margin-top: -120px;
    }
    #how-to .h-flex-b i {
        position: relative;
        font-size: 20px;
        width: 6%;
        margin-left: 0px;
        text-align: center;
        border: 3px solid purple;
        border-radius: 50%;
        left: 47%;
    }
    #how-to .h-flex-b img {
        position: relative;
        width: 30%;
        left: 18%;
        margin-right: 0px;
        justify-content: center;
        bottom: -180px;
    }
    #how-to .h-flex-b p {
        font-size: 22px;
        width: 95%;
        margin-left: 2px;
        margin-top: 150px;
        padding-left: 10px;
        text-align: center;
    }
    #left-arrow {
        margin-top: 40px;
        width: 35px;
        margin-left: 78%;
        transform: rotateZ(-5deg);
    }
    #how-to .h-flex-c {
        display: block;
        margin-top: 30px;
        margin-bottom: -50px;
    }
    .h-flex-c #h-text-c {
        padding-top: 0px;
        margin-top: -25px;
    }
    #how-to .h-flex-c i {
        position: relative;
        font-size: 20px;
        width: 6%;
        margin-left: 0px;
        text-align: center;
        border: 3px solid purple;
        border-radius: 50%;
        left: 47%;
    }
    #how-to .h-flex-c img {
        position: relative;
        left: 35%;
        width: 30%;
        margin-right: 0px;
        top: -200px;
        justify-content: center;
    }
    #how-to .h-flex-c p {
        font-size: 22px;
        width: 95%;
        margin-left: 2px;
        margin-top: 150px;
        padding-left: 10px;
        text-align: center;
    }
    #arrow-b {
        width: 35px;
        margin-left: 10%;
        margin-top: -250px;
        transform: rotateZ(10deg);
    }
    #how-to .h-flex-d {
        display: block;
        margin-top: -130px;
    }
    .h-flex-d #h-text-d {
        padding-top: 0px;
    }
    #how-to .h-flex-d i {
        position: relative;
        font-size: 20px;
        width: 6%;
        margin-left: 0px;
        text-align: center;
        border: 3px solid purple;
        border-radius: 50%;
        left: 47%;
    }
    #how-to .h-flex-d img {
        position: relative;
        width: 30%;
        left: 18%;
        margin-right: 0px;
        justify-content: center;
        bottom: -180px;
    }
    #how-to .h-flex-d p {
        font-size: 22px;
        width: 95%;
        margin-left: 2px;
        margin-top: 150px;
        padding-left: 10px;
        text-align: center;
    }
    button#explore {
        padding: 15px 24px 15px 24px;
        margin-top: 40px;
        margin-bottom: 20px;
        width: 160px;
        font-size: 18px;
        left: 30%;
    }
    button#explore:hover {
        width: 150px;
    }
    #unavailable a {
        font-size: 25px;
    }
    /* Profile Page */
    #profile-pg {
        display: block;
    }
    #profile-pg #left-sect {
        display: none;
        padding-left: 40px;
        padding-right: 65px;
        width: 100%;
        padding-top: 25px;
        padding-bottom: 320px;
        position: fixed;
        z-index: 999;
        transition: 0.9s;
        transition: 0.8s ease-in-out;
    }
    #user-name {
        display: none;
    }
    #user-name-mob {
        display: inline-flex;
        width: 100%;
        position: fixed;
        padding: 8px 0;
        text-align: center;
        z-index: 995;
        background-color: rgb(228, 220, 228);
        top: 0;
        justify-content: space-evenly;
    }
    #user-name-mob h2 {
        font-size: 16px;
    }
    #user-name-mob h2 i {
        display: block;
        padding-left: 5px;
    }
    .h-mob {
        display: block;
    }
    #toggle-dark-mode {
        display: none;
    }
    .br-close {
        display: none;
    }
    .modal-content {
        margin-top: 35%;
        width: 90%;
        top: 10%;
    }
    form#troubleshoot-form label {
        text-align: start;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    form#troubleshoot-form select {
        padding: 8px 0;
    }
    #profile-pg #right-sect {
        margin-left: 0%;
        width: 100%;
        padding-top: 25px;
    }
    #profile-pg #left-sect #navigate {
        text-align: center;
    }
    #profile-picture-wrapper {
        position: relative;
        left: 35%;
    }
    #view-dashboard {
        display: flex;
        position: fixed;
        width: 100%;
        height: 50px;
        bottom: 0;
        align-items: center;
        background-color: rgb(65, 0, 65);
        color: white;
        z-index: 999;
    }
    #view-dashboard p {
        width: 100%;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    #name {
        width: 100%;
        position: fixed;
        text-align: center;
        background-color: rgba(37, 26, 37, 0.055);
        z-index: 999;
    }
    #user-profile {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 20px;
        margin-top: 30px;
    }
    #user-profile h4 {
        padding-top: 20px;
    }
    #user-profile .user-profile-flex p {
        padding-bottom: 20px;
    }
    #user-profile .user-profile-flex {
        display: block;
        border-top: none;
        border-bottom: none;
    }
    #user-profile .user-profile-flex .h-line {
        border: 0.5px solid purple;
        height: 0px;
    }
    /* Pop us message */
    #popup {
        left: 7%;
        transform: translate(-5%, -80%);
    }
    /* Scope */
    #scope {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 50px;
        margin-left: 0%;
        width: 100%;
    }
    #span p {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    #scope #scope-flex {
        display: block;
        /* justify-content: space-between; */
    }
    #scope-flex #span {
        width: 100%
    }
    #scope-flex #pro-info {
        position: absolute;
        padding-left: 0px;
        top: 840px;
        width: 95%;
        padding-right: 18px;
    }
    #pro-info p {
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .rev {
        display: none;
    }
    /* Workflow */
    #workflow {
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 150px;
        margin-left: 0% !important;
        width: 100%;
    }
    #workflex {
        display: flex;
        flex-wrap: wrap;
    }
    #work {
        width: 100%;
    }
    #m-work {
        margin-top: 50px;
    }
    /* Legal */
    #legal {
        padding-left: 18px;
        padding-right: 18px;
        margin-left: 0%;
        width: 100%;
    }
    #document-upload #fileInput {
        width: 65%;
    }
    #signature div {
        margin-bottom: 20px;
        display: block;
        width: 60%;
    }
    #signature div button {
        margin-top: 8px;
    }
    /* Suggestions */
    #suggestion {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 50px;
        /* position: relative; */
        margin-left: 0%;
        width: 100%;
    }
    #select-feedback label[for="feedback"] {
        display: block;
        width: 80%;
        margin-bottom: 10px;
    }
    #select-feedback select[id="feedback"] {
        width: 95%;
        margin-top: 2px;
    }
    #select-feedback label[for="feedback-email"] {
        display: block;
        width: 80%;
        margin-left: 0px;
        margin-bottom: 10px;
    }
    #select-feedback input[id="feedback-email"] {
        width: 95%;
    }
    .chat-bar-collapsible {
        right: 100px;
        display: none;
    }
    #describe-feedback textarea {
        width: 95%;
    }
    #feedback-form button {
        margin-bottom: 60px;
    }
    .copyright {
        font-size: 13px;
        width: 100%;
        text-align: center;
        background-color: rgb(236, 236, 236);
        margin-top: 0;
        margin-bottom: 30px;
    }
}

@media (max-height: 400px) {
    #client-cover-section img {
        height: 99vh;
    }
    #company-name img {
        width: 20%;
        height: 20%;
    }
    #company-name span {
        margin-top: 10px;
    }
    img#client-image {
        width: 50%;
        height: 30%;
        bottom: 48%;
    }
    #company-name {
        position: absolute;
        display: flex;
        top: 10%;
    }
    #client-cover-flex select {
        padding: 5px 10px;
        margin-left: 20px;
        margin-right: 18px;
        border: none;
        width: 90px;
    }
    #client-cover-flex {
        display: flex;
        top: 3%;
    }
    #head-opt {
        position: relative;
        width: 100%;
        left: 170%;
    }
    #client-button {
        position: absolute;
        bottom: 32%;
        left: 11%;
    }
    #client-button button {
        padding: 9px 12px;
        font-size: 13px;
        font-weight: 600;
        width: 115px;
    }
    #client-info {
        justify-content: space-evenly;
        position: absolute;
        bottom: 2%;
        left: 0%;
        width: 100%;
        background-color: rgba(128, 0, 128, 0.13);
        padding: 15px 15px;
    }
    #client-info span {
        font-size: 16px;
    }
}

@media (min-height: 745px) and (max-height: 1024px) {
    #profile-pg #left-sect {
        padding-top: 85px;
    }
}